/*---
title:   Color
section: Common
---

Colors

*/

$navy_blue: #000048;
$navy_gold: #B4A87E;

$marine_blue: #000066;
$marine_red: #CC0000;
$marine_gold: #CC9900;

$js_gray: #333333;

/*---
title:   Images
section: Common
---

Images

*/

$loading-animation: "assets/images/ripple.gif";

$listing-carrier: "assets/images/listing_carrier.jpg";//George W. Bush (CVN 77)
$stocked-carrier: "assets/images/stocked_carrier.png";//George W. Bush (CVN 77)
$eisenhower: "assets/images/eisenhower.jpg";
$navy-at-night: "assets/images/navy_at_night.jpg";//Kyle's favorite
$missile-launch: "assets/images/missile_launch.jpg";
$aircraft_sunset: "assets/images/aircraft_sunset.png";
$sonic_boom: "assets/images/sonic_boom.gif";

$bg-image: url($stocked-carrier);

/*---
title:   Utility
section: Common
---

Utility styles that are reused frequently and provide human-readable classes.

*/

$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

.full-width {
    box-sizing: border-box;
    width: 100%;
}
.top {
    top: 0;
    position: absolute;
}
.bottom {
    bottom: 0;
    position: absolute;
}
.centered {
    text-align: center;
}
.no-user-select {
    outline: none;
    user-select: none;
}
.animated {
    @extend .animated--100;
}
.animated--50 {
    transition: all 50ms ease-in-out;
    transform: translateZ(0px);
}
.animated--100 {
    transition: all 100ms ease-in-out;
    transform: translateZ(0px);
}
.animated--200 {
    // transition: all 200ms ease-in-out;
    transition: all 200ms $easeInOutCirc;
    transform: translateZ(0px);
}
.fly-out--top {
    margin-top: -110vh;
}
.fly-out--left {
    margin-left: -110vw;
}
.fly-out--right {
    margin-left: 110vw;
}
