@import "reset";
@import "common";
@import "components/input";
@import "components/button";


/*---
title:   Structure
section: Base CSS
---

Styles for elements such as `<section>` could go in this section.

*/
body {
    height: 150vh;
    overflow-y: hidden;
}
section {
    position: relative;
}
footer {
    background-color: white;
    bottom: 0;
    box-sizing: border-box;
    height: 50vh;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
#main {
    background:  url("assets/images/sonic_boom.gif") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: top 200ms;
    width: 100vw;
    &.show-about {
        top: -50vh;
    }
    .search.text-input-wrapper {
        position: relative;
        top: 40vh;
    }
}
