@import "reset";
@import "components/button";

body {
    height: 150vh;
}

#main {
    background:  url("assets/images/rail_gun.gif") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

/*---
title:   Structure
section: Base CSS
---

Styles for elements such as `<section>` could go in this section.

*/
section {
    position: relative;
}
footer {
    background-color: white;
    bottom: 0;
    box-sizing: border-box;
    height: 50vh;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

/*---
title:   Links
section: Base CSS
---

```example:html
<a href="#">This is a sample link</a>
<a href="#">This is another sample link</a>
<a href="#">This is a third sample link</a>
```

*/
a,
a:visited {
    color: black;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    background-color: red;
    color: white;
}
