@import "reset";
@import "common";
@import "components/input";
@import "components/button";
@import "pages/home";

/*---
title:   Main
---

Styles for elements such as `<section>` could go in this section.

*/
body {
    height: 150vh;
    overflow-y: hidden;
}
section {
    position: relative;
}
footer {
    background-color: white;
    bottom: 0;
    box-sizing: border-box;
    height: 50vh;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
