/*---
title:   Buttons
section: Input Controls
---

The default button style is pictured below.

```example:html
<button>Hello World</button>
```
*/
$navy_blue: #000048;
$navy_gold: #B4A87E;

button {
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    padding: 5px 20px;
    transition: all 100ms;
    user-select: none;
}
button:hover {
    background-color: $navy_blue;
    border-color: $navy_blue;
    cursor: pointer;
}
.about-btn {
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.submit-btn {
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.active-btn {
    @extend button:hover;
}
