/*---
title:   Buttons
section: Input Controls
---

In general, all buttons are "ghost buttons" with square corners.

Submit button
```example:html
<div class="full-width centered" style="background-color: #333; padding: 20px 0;">
    <button class="submit-btn">go navy</button>
</div>
```

About button
```example:html
<div class="full-width centered control-wrapper" style="background-color: #333; padding: 20px 0;">
    <button class="about-btn">about</button>
</div>
```
*/
$navy_blue: #000048;
$navy_gold: #B4A87E;

button {
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    padding: 5px 20px;
    text-transform: uppercase;
    transition: all 100ms ease-in-out;
    user-select: none;
}
button:hover {
    background-color: $navy_blue;
    border-color: $navy_blue;
    cursor: pointer;
}
.active-btn {
    @extend button:hover;
}
