<footer role="contentinfo">
    Made with <span style="color: red;font-weight: bold;">❤</span> using <a href="https://github.com/omahajs/generator-omaha">OMAHA JS</a>
</footer>
<section id="main">
    <div class="full-width centered navy-search text-input-wrapper">
        <input type="text" class="centered" placeholder="Search Navy Messages" required/>
        <button class="submit-btn">go navy</button>
    </div>
    <div class="bottom full-width centered navy-search-submit-button control-wrapper">
        <button class="about-btn">about</button>
    </button>
</section>
