<footer role="contentinfo">
    Made with <span style="color: red;font-weight: bold;">❤</span> using <a href="https://github.com/omahajs/generator-omaha">OMAHA JS</a>
</footer>
<section id="main">
    <input type="text" placeholder="Search Navy Messages"/>
    <button class="submit">go</button>
    <div class="full-width button-wrapper">
        <button class="about-btn">about</button>
    </button>
</section>
