/*---
title:   Pages
section: Home
---

Home view elements
```
*/
.navy-search {
    overflow: hidden;
    position: relative;
    top: 35vh;
    input {
        border: none;
        border-radius: 0;
        font-size: 1.2rem;
        outline: none;
        user-select: text;
        min-width: 250px;
        transform: translateZ(0px);
        transition: all 100ms ease-in-out;
        width: 70vw;
    }
    input:required:invalid {
        border: none;
        box-shadow: none;
        outline: none;
    }
}
