/*---
title:   Pages
section: Home
---

Home view elements

*/
.navy-search {
    overflow: hidden;
    position: relative;
    top: 33vh;
    input {
        min-width: 250px;
        width: 70vw;
    }
    input:required:invalid {
        border: none;
        box-shadow: none;
        outline: none;
    }
    .control-wrapper {
        height: 3.3rem;
    }
    .submit-btn {
        display: block;
        font-size: 1.5rem;
        font-weight: bolder;
        height: 3.3rem;
        line-height: 3.0rem;
        padding: 0;
        width: 12rem;
    }
    input:required + .control-wrapper > .submit-btn {
        margin: 20px calc( 50% - 6rem );
        transform: translateZ(0px);
    }
    input:required:invalid + .control-wrapper > .submit-btn {
        margin-left: -100vw;
    }
}
#main {
    background: url("assets/images/sonic_boom.gif") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    min-height: 300px;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: top 200ms;
    width: 100vw;
    &.show-about {
        top: -50vh;
    }
}
.search-results {
    .items-container {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        width: 45vw;
    }
    .item-wrapper {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2rem;
        margin-bottom: 3px;
        margin-top: 3px;
        transition: all 200ms;
    }
}
.about-btn {
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
}
